{{ prom2teams_logs_folder }}/uwsgi.log {
    daily
    missingok
    rotate 7
    size 200M
    compress
    notifempty
    create 644 {{ prom2teams_user }} {{ prom2teams_group }}
    sharedscripts
    postrotate
        [ -f /var/run/prom2teams/prom2teams.pid ] && systemctl restart prom2teams
    endscript
}
