# {{ ansible_managed }}
[Microsoft Teams]
{% for name, webhook in prom2teams_webhook_urls.items() %}
{{ name }}: {{ webhook }}
{% endfor %}

[HTTP Server]
Host: {{ prom2teams_host }}
Port: {{ prom2teams_port }}
Name: {{ prom2teams_name }}

[Log]
Level: {{ prom2teams_logs_level }}
Path: {{ prom2teams_logs_absolute_path }}

{% if prom2teams_template_path is defined %}
[Template]
Path: {{ prom2teams_template_path }} # default: app resources template
{% endif %}

{% if prom2teams_groupalertsby is defined %}
[Group Alerts]
Field: {{ prom2teams_groupalertsby }}
{% endif %}

{% if prom2teams_ignored_extra_labels is defined %}
[Labels]
Excluded: {{ prom2teams_ignored_extra_labels|join(', ') }}
{% endif %}
