---
prom2teams_user: prom2teams
prom2teams_group: prom2teams
prom2teams_config_folder: /etc/prom2teams
prom2teams_version: 2.5.5
prom2teams_required_pip_packages:
  - zipp==1.2.0
prom2teams_logs_folder: /var/log/prom2teams

prom2teams_required_libs:
  - python3
  - python3-pip
  - net-tools

prom2teams_webhook_urls:
  connector1: http://test
  connector2: http://test2

prom2teams_socket: http
prom2teams_host: "{{ ansible_eth0.ipv4.address }}"
# Use this one for testing purposes
#prom2teams_host: "{{ ansible_eth1.ipv4.address }}"
prom2teams_port: 8001

prom2teams_groupalertsby: name
